        h1 {
            color: #D9B5AD;
            font-size: 100px;
            margin-bottom: 0px;
        }

        body {
            background-color: #F2F2F2;
            font-family: "Open-Sans", sans-serif;
        }

        .round-button {
            width: 100px;
            height: 50px;
            border-radius: 100%;
            background-color: #8C6C61;
            border: none;
            color: white;
            text-align: center;
            display: inline-block;
            font-size: 16px;
        }

        .round-button a {
            color: white;
        }

        li, p {
            font-size: 20px;
            color: #402921;
            font-family: "Open-Sans", sans-serif;
        }

        .column {
            float: left;
            width: 25%;
        }

        section {
            display: none;
        }

        section:target {
            display: block;
        }

        /*top navigation color*/
        .topnav {
            background-color: #D9B5AD;
            overflow: hidden;
            width: 100%;
            margin: 10px -10px 0 -10px;
            box-sizing: border-box;
        }
        /*navigation bar style/links/text*/
        .topnav a {
            float: left;
            color: white;
            text-align: center;
            padding: 14px 50px;
            text-decoration: none;
            font-size: 17px;
        }
        /*color of the links on hover*/
        .topnav a:hover {
            background-color: #734939;
            color: black;
        }
        /*active/current link color*/
        .topnav a.active {
            background-color: #734939;
            color: black;
        }

        .content-box {
            background-color: #E8CEC8;
            margin: 0px -10px;
            padding: 20px 40px;
            width: 100%;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
            display: none;
            box-sizing: border-box;
        }
        .content-box.active {
            display: block;
        }

        .intro-img img {
            width: 400px;
            height: 400px;
            border-radius: 50%;
<<<<<<< HEAD
            box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.1);
=======
            /*border: 5px solid pink;
            background-color: pink;*/
>>>>>>> aa2bd94809da32d989b71e239f9f06335f94bca1
            object-fit: cover;
        }

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 40px 60px;
        }

        .header-text {
            flex: 1;
            min-width: 300px;
        }

        /*Projects GIFS*/
        .gif-size {
            width: 400px;
            height: 200px;
            margin-right: 10px;
        }
        .project-card {
            margin: 0;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }

        .work-date-format {
            margin-bottom: -15px;
<<<<<<< HEAD
        }
=======
        }
>>>>>>> aa2bd94809da32d989b71e239f9f06335f94bca1
